.headerText {
  font-family: 'Open Sans';
  font-weight: 700;
  margin: 0;
  margin-left: 7px;
}

.link {
  font-family: 'Open Sans';
  color: #1d92dbf8;
  text-decoration: none;
  margin-left: 7px;
}

.link:hover {
  text-decoration: underline;
}